[Unit]
Description=Steam Power Button Service
Restart=always
RestartSec=5
After=graphical-session.target

[Service]
ExecStart=/usr/local/bin/steam-powerbuttond

[Install]
WantedBy=multi-user.target
