[Unit]
Description=Steam Power Button Service for ChimeraOS
Restart=always
RestartSec=5
After=graphical-session.target

[Service]
ExecStart=/home/gamer/.local/bin/steam-powerbuttond

[Install]
WantedBy=multi-user.target
